node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
/node_modules/
/.idea/
/.expo-shared/
/.expo/
/doa1-da795-firebase-adminsdk-yh5p1-0962520810.json
